/*

 ヘッダー (header)

*/

// .c-gnav {
//     li:not(:last-child) {
//         margin-right: 8px;
//     }
//     li:last-child {
//         margin-left: 8px;
//     }
// }

/* --- ヘッダーCTAボタン (.icon-bubble) --- */
.dp-header-cta {
    gap: 16px;

    .dp-line-buttom {
        a {
            transition:
                box-shadow 0.3s ease,
                transform 0.3s ease;
            // ホバー時にシャドウが少し小さくなり、ボタンが上に2px移動
            &:hover {
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                transform: translateY(-2px);
            }
        }
    }

    .dp-phone-button {
        a {
            padding: 0;
            border: none;
            text-align: right;

            &:hover {
                opacity: 0.7;
            }
            transition: opacity 0.3s ease;
        }
    }
}
